$bg-color: #f6f1e8;
$text-color: #2f241c;

$primary: #5f6f52;
$secondary: #b8794f;
$accent: #d8a85f;

$card-bg: #fffaf3;
$hero-bg: linear-gradient(
    rgba(30, 24, 18, 0.55),
    rgba(30, 24, 18, 0.55)
),
url('/public/images/hero_.webp') center/cover no-repeat;

$transition: all 0.3s ease;